name: Build Windows EXE

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install pyinstaller
          pip install matplotlib

      - name: Build EXE
        run: |
          pyinstaller --onefile --windowed typing_software_app.py

      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: G2B-TypingTutor-EXE
          path: dist/typing_software_app.exe
